---

services:
  oauth2-proxy:
    restart: always
    image: quay.io/oauth2-proxy/oauth2-proxy:{{ oauth2_proxy_version }}-alpine # use alpine for healthcheck
    # distroless healthcheck ticket: https://github.com/oauth2-proxy/oauth2-proxy/issues/2555
    container_name: '{{ oauth2_proxy_instance_host }}'
    expose:
      - "4180"
    environment:
      OAUTH2_PROXY_CONFIG: /etc/oauth2-proxy.cfg
{% if oauth2_proxy_instance_standalone %}
      VIRTUAL_HOST: {{ oauth2_proxy_instance_domain }}
      LETSENCRYPT_HOST: {{ oauth2_proxy_instance_domain }}
      VIRTUAL_PORT: 4180
{% endif %}
    command: --config=/etc/oauth2-proxy.cfg
    volumes:
      - type: bind
        source: './oauth2-proxy.cfg'
        target: /etc/oauth2-proxy.cfg
        read_only: true
      - type: bind
        source: './htpasswd'
        target: /etc/oauth2-htpasswd
        read_only: true
      - type: bind
        source: './authenticated_emails_file'
        target: /etc/oauth2-authenticated_emails_file
        read_only: true
    networks:
      webproxy:
        aliases:
          - '{{ oauth2_proxy_instance_host }}'
    healthcheck:
      test: ["CMD", "wget", "-qO/dev/null", "http://127.0.0.1:4180/ping"]
      interval: 30s
      timeout: 5s
      retries: 3


networks:
  webproxy:
    external: true
    name: webproxy
