[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "==6.3.0"
ansible-lint = "*"
netaddr = "*"
yamllint = "*"
jmespath = "*"
pyfiglet = "*"
ruamel-yaml = "*"
typing-extensions = "*"
dnspython = "*"
requests = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
