# based on https://github.com/VictoriaMetrics/VictoriaMetrics/tree/master/deployment/docker

services:
  authproxy:
    image: '{{ victoriametrics_nginx_image }}'
    restart: always
    expose:
      - 80
    environment:
      VIRTUAL_HOST: '{{ victoriametrics_domain }}'
      LETSENCRYPT_HOST: '{{ victoriametrics_domain }}'
      LETSENCRYPT_EMAIL: '{{ letsencrypt_email }}'
    volumes:
      - type: bind
        source: ./htaccess
        target: /etc/nginx/conf.d/htaccess
        read_only: true
      - type: bind
        source: ./authproxy-site.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
{% if victoriametrics_oauth2_proxy_integration %}
      - type: bind
        source: ./authproxy_vhost.d
        target: /etc/nginx/vhost.d
        read_only: true
{% endif %}
    networks:
      vm_net:
      webproxy:
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '10'
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    healthcheck:
      test: ["CMD-SHELL", "curl --fail --head --silent --output /dev/null http://localhost:80/proxystatus || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  victoriametrics:
    image: victoriametrics/victoria-metrics:{{ victoriametrics_version }}
    # ports:
    #   - 8428:8428
    #   - 8089:8089
    #   - 8089:8089/udp
    #   - 2003:2003
    #   - 2003:2003/udp
    #   - 4242:4242
    ports:
      - 127.0.0.3:8428:8428
    expose:
      - 8428
    volumes:
      - type: bind
        source: '{{ victoriametrics_storage_path }}'
        target: /storage
        read_only: false
    command:
      - '-storageDataPath=/storage'
      # - '-graphiteListenAddr=:2003'
      # - '-opentsdbListenAddr=:4242'
      - '-httpListenAddr=:8428'
      # - '-influxListenAddr=:8089'
      - '-retentionPeriod={{ victoriametrics_retention_period }}'
      - '-bigMergeConcurrency={{ victoriametrics_big_merge_concurrency }}'
      - '-search.maxSamplesPerQuery={{ victoriametrics_max_samples_per_query }}'
      - '-search.maxUniqueTimeseries={{ victoriametrics_max_unique_timeseries }}'
    networks:
      - vm_net
      - webproxy
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    healthcheck:
      test: ["CMD", "wget", "-qO/dev/null", "http://127.0.0.1:8428/health"]
      interval: 30s
      timeout: 5s
      retries: 3

  vmagent:
    image: victoriametrics/vmagent:{{ victoriametrics_vmagent_version }}
    depends_on:
      - "victoriametrics"
    # ports:
    #   - 8429:8429
    ports:
      - 127.0.0.3:8429:8429
    volumes:
      - type: bind
        source: ./vmagentdata
        target: /vmagentdata
        read_only: false
      - type: bind
        source: ./prometheus.yml
        target: /etc/prometheus/prometheus.yml
        read_only: true
      - type: bind
        source: ./file_sd
        target: /etc/prometheus/file_sd
        read_only: true
      - type: bind
        source: ./scrape_configs
        target: /etc/prometheus/scrape_configs
        read_only: true
    command:
      - '-http.pathPrefix=/vmagent'
      - '-promscrape.config=/etc/prometheus/prometheus.yml'
      - '-remoteWrite.url=http://victoriametrics:8428/api/v1/write'
      - '--remoteWrite.tmpDataPath=/vmagentdata'
      # - '-remoteWrite.basicAuth.username='
      # - '-remoteWrite.basicAuth.password='
    networks:
      - vm_net
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    healthcheck:
      test: ["CMD", "wget", "-qO/dev/null", "http://127.0.0.1:8429/vmagent/health"]
      interval: 30s
      timeout: 5s
      retries: 3

  vmalert:
    image: victoriametrics/vmalert:{{ victoriametrics_vmalert_version }}
    depends_on:
      - "victoriametrics"
      # - "alertmanager"
    expose:
      - 8880
    ports:
      - 127.0.0.3:8880:8880
    volumes:
      - type: bind
        source: ./rules
        target: /etc/alerts
        read_only: true
    command:
      - '-http.pathPrefix=/vmalert'
      - '-datasource.url=http://victoriametrics:8428/'
      - '-remoteRead.url=http://victoriametrics:8428/'
      - '-remoteWrite.url=http://victoriametrics:8428/'
      - '-evaluationInterval={{ victoriametrics_vmalert_evaluation_interval }}'
      - '-notifier.url={{ victoriametrics_alertmanager_url }}'
      - '-notifier.basicAuth.username={{ victoriametrics_alertmanager_user }}'
      - '-notifier.basicAuth.password={{ victoriametrics_alertmanager_password }}'
      - '-rule=/etc/alerts/*.yml'
      # display source of alerts in grafana
      - '-external.url={{ victoriametrics_vmalert_external_url }}'
      - '-external.alert.source={{ victoriametrics_vmalert_external_source }}'
{% for label in victoriametrics_vmalert_external_labels %}
      - '-external.label={{ label }}'
{% endfor %}
    networks:
      - vm_net
    restart: always
    healthcheck:
      test: ["CMD", "wget", "-qO/dev/null", "http://127.0.0.1:8880/vmalert/health"]
      interval: 30s
      timeout: 5s
      retries: 3

  blackbox:
    user: 997:998
    image: {{ victoriametrics_blackbox_image }}:{{ victoriametrics_blackbox_version }}
    volumes:
      - type: bind
        source: ./blackbox.yml
        target: /config/blackbox.yml
        read_only: true
    command:
      - '--config.file=/config/blackbox.yml'
      - '--log.level={{ victoriametrics_blackbox_log_level }}'
      - '--log.prober={{ victoriametrics_blackbox_prober_log_level }}'
    expose:
      - 9115
    ports:
      - 127.0.0.3:9115:9115
    restart: always
    networks:
      - vm_net
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    healthcheck:
      test: ["CMD", "wget", "-qO/dev/null", "http://127.0.0.1:9115/-/healthy"]
      interval: 30s
      timeout: 5s
      retries: 3

networks:
  vm_net:
  webproxy:
    external: true
    name: webproxy
