# redirect only webserver

services:
  web:
    image: '{{ webserver_redirect_nginx_image }}'
    user: "33"
    restart: always
    expose:
      - 8080
    environment:
      VIRTUAL_HOST: {{ webserver_redirect_domains | join(',') }}
      LETSENCRYPT_HOST: {{ webserver_redirect_domains | join(',') }}
      LETSENCRYPT_EMAIL: {{ letsencrypt_email }}
      HTTPS_METHOD: noredirect
    volumes:
      - type: bind
        source: ./site.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    networks:
      - webproxy
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '10'

networks:
  webproxy:
    external: true
    name: webproxy
