# Sanoid Configuration (automatic snapshotting of zfs datasets)

- name: install sanoid
  apt:
    name: sanoid
    state: present
  when: not sanoid_install_from_deb_source

- name: Install new version of sanoid
  apt:
    deb: '{{ sanoid_deb_source }}'
    state: present
  when: sanoid_install_from_deb_source

- name: create conf directory
  file:
    path: /etc/sanoid
    state: directory
    owner: root
    group: root
    mode: 0750

- name: deploy sanoid.conf
  copy:
    content: "{{ sanoid_conf }}\n"
    dest: /etc/sanoid/sanoid.conf
    owner: root
    group: root
    mode: 0640
