# /etc/default/vector
# This file can theoretically contain a bunch of environment variables
# for Vector.  See https://vector.dev/docs/setup/configuration/#environment-variables
# for details.
VECTOR_CONFIG=/etc/vector/vector.toml
VECTOR_CONFIG_TOML=/etc/vector/*.toml
# VECTOR_CONFIG_JSON=/etc/vector/*.json
# VECTOR_CONFIG_YAML=/etc/vector/*.yaml
{% if vector_debug_mode %}
RUST_BACKTRACE=full
LOG=debug
{% endif -%}
