- job_name: 'node'
  scrape_interval: 1m
  static_configs:
      - labels:
          instance: '{{ ansible_fqdn }}'
          host: '{{ ansible_hostname }}'
        targets:
          - 127.0.0.9:9100
