---

services:
  alertmanager:
    user: {{ alertmanager_user.uid }}:{{ alertmanager_group.gid }}
    image: {{ alertmanager_image }}:{{ alertmanager_version }}
    environment:
      VIRTUAL_HOST: '{{ alertmanager_domain }}'
      LETSENCRYPT_HOST: '{{ alertmanager_domain }}'
      LETSENCRYPT_EMAIL: '{{ letsencrypt_email }}'
    volumes:
      - {{ alertmanager_path }}:/etc/alertmanager/
      - {{ alertmanager_db_dir }}:/alertmanager
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--storage.path=/alertmanager/'
      - '--web.external-url=https://{{ alertmanager_domain }}'
    expose:
      - 9093
    restart: always
    networks:
      - webproxy

{% if alertmanager_telegram_enabled %}
  # telegram bot
  telegram-bot:
    # container_name: telegrambot
    image: wolke77/alertmanager-telegram-bot:0.0.3
    volumes:
      - ./telegrambot/:/etc/telegrambot/
    expose:
      - 9087
    ports:
      - 9087:9087
    restart: always
    networks:
      - webproxy
    command:  ["/prometheus_bot", "-c", "/etc/telegrambot/config.yaml"] # add -d for debug mode
{% endif %}

networks:
  webproxy:
    external: true
    name: webproxy
