{% if webproxy_security_txt | length > 0 %}
location ^~ /.well-known/security.txt {
    auth_basic off;
    auth_request off;
    allow all;
    root /usr/share/nginx/html;
    try_files /security.txt =404;
    break;
}
{% endif %}
{% if webproxy_default_vhost_custom | length > 0 %}
{{ webproxy_default_vhost_custom }}
{% endif %}
