version: '3.7'

x-logging:
  &logging
  driver: json-file
  options:
    max-size: "4m"
    max-file: "10"
    mode: non-blocking

services:
  nginx:
    image: {{ webproxy_nginx_image }}
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    container_name: webproxy_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./data/conf.d:/etc/nginx/conf.d
      - ./data/vhost.d:/etc/nginx/vhost.d
      - ./data/html:/usr/share/nginx/html
      - ./data/certs:/etc/nginx/certs:ro
      - ./data/htpasswd:/etc/nginx/htpasswd:ro
      - ./data/nginx.conf:/etc/nginx/nginx.conf
    sysctls:
      net.core.somaxconn: 65536
    logging: *logging
    networks:
      - webproxy
{% for network in webproxy_additional_networks %}
{%    if network in webproxy_register_docker_networks.stdout_lines %}
      - {{ network }}
{%    else %}
      # - {{ network }}
{%    endif %}
{% endfor %}

  docker-gen:
    image: '{{ webproxy_dockergen_image }}'
    command: -notify-sighup webproxy_nginx -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: webproxy_docker-gen
    restart: always
    environment:
      DEFAULT_HOST: "{{ webproxy_default_host }}"
      ENABLE_IPV6: "true"
      RESOLVERS: "127.0.0.11"
    volumes:
      - ./data/conf.d:/etc/nginx/conf.d
      - ./data/vhost.d:/etc/nginx/vhost.d
      - ./data/html:/usr/share/nginx/html
      - ./data/certs:/etc/nginx/certs:ro
      - ./data/htpasswd:/etc/nginx/htpasswd:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
    logging: *logging
    labels:
      - "com.github.jrcs.letsencrypt_nginx_proxy_companion.docker_gen"
    depends_on:
      - nginx
    networks:
      - webproxy
{% for network in webproxy_additional_networks %}
{%    if network in webproxy_register_docker_networks.stdout_lines %}
      - {{ network }}
{%    else %}
      # - {{ network }}
{%    endif %}
{% endfor %}

  letsencrypt:
    image: {{ webproxy_letsencrypt_image }}
    container_name: webproxy_letsencrypt
    restart: always
    volumes:
      - ./data/conf.d:/etc/nginx/conf.d
      - ./data/vhost.d:/etc/nginx/vhost.d
      - ./data/html:/usr/share/nginx/html
      - ./data/certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/acme.sh:/etc/acme.sh:rw
    environment:
      NGINX_DOCKER_GEN_CONTAINER: webproxy_docker-gen
      NGINX_PROXY_CONTAINER: webproxy_nginx
      DEFAULT_EMAIL: {{ webproxy_letsencrypt_default_email }}
    logging: *logging
    depends_on:
      - docker-gen
      - nginx
    networks:
      - webproxy
{% for network in webproxy_additional_networks %}
{%    if network in webproxy_register_docker_networks.stdout_lines %}
      - {{ network }}
{%    else %}
      # - {{ network }}
{%    endif %}
{% endfor %}

networks:
  webproxy:
    external:
      name: webproxy
{% for network in webproxy_additional_networks %}
{%    if network in webproxy_register_docker_networks.stdout_lines %}
  {{ network }}:
    external:
      name: {{ network }}
{%    else %}
  ## ansible: not adding external network because it does not exist.
  ## create it before adding to webproxy
  # {{ network }}:
  #   external:
  #     name: {{ network }}
{%    endif %}
{% endfor %}
