# based on https://github.com/VictoriaMetrics/VictoriaMetrics/tree/master/deployment/docker

services:
  authproxy:
    image: '{{ victorialogs_nginx_image }}'
    restart: always
    expose:
      - 80
    environment:
      VIRTUAL_HOST: '{{ victorialogs_domain }}'
      LETSENCRYPT_HOST: '{{ victorialogs_domain }}'
      LETSENCRYPT_EMAIL: '{{ letsencrypt_email }}'
    volumes:
      - type: bind
        source: ./htaccess
        target: /etc/nginx/conf.d/htaccess
        read_only: true
      - type: bind
        source: ./authproxy-site.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
{% if victorialogs_oauth2_proxy_integration %}
      - type: bind
        source: ./authproxy_vhost.d
        target: /etc/nginx/vhost.d
        read_only: true
{% endif %}
    networks:
      vm_net:
      webproxy:
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '10'
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
    healthcheck:
      test: ["CMD-SHELL", "curl --fail --head --silent --output /dev/null http://localhost:80/proxystatus || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  victorialogs:
    image: victoriametrics/victoria-logs:{{ victorialogs_version }}
    ports:
      - 127.0.0.4:9428:9428
    expose:
      - 9428
    volumes:
      - type: bind
        source: '{{ victorialogs_storage_path }}'
        target: /vlogs-storage
        read_only: false
    command:
      - '-storageDataPath=/vlogs-storage'
      - '-httpListenAddr=:9428'
      - '-retentionPeriod={{ victorialogs_retention_period }}'
      - '-retention.maxDiskSpaceUsageBytes=10TiB'
      # - '-logNewStreams'
      # - '-loggerLevel INFO' # Minimum level of errors to log. Possible values: INFO, WARN, ERROR, FATAL, PANIC (default "INFO")
    healthcheck:
      test: ["CMD", "wget", "-qO/dev/null", "http://127.0.0.1:9428/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      - vm_net
      - webproxy
    restart: always
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535

  # vmalert for victorialogs monitoring: https://docs.victoriametrics.com/victorialogs/#monitoring
  vmagent:
    image: "victoriametrics/vmagent:{{ victorialogs_vmagent_version }}"
    depends_on:
      - "victorialogs"
    ports:
      - 127.0.0.4:8429:8429
    volumes:
      - type: bind
        source: './vmagentdata'
        target: /vmagentdata
        read_only: false
      - type: bind
        source: ./prometheus.yml
        target: /etc/prometheus/prometheus.yml
        read_only: true
    command:
      - '-http.pathPrefix=/vmagent'
      - '-promscrape.config=/etc/prometheus/prometheus.yml'
      - '-remoteWrite.url={{ victorialogs_victoriametrics_remotewrite_url }}'
      - '-remoteWrite.basicAuth.username={{ victorialogs_victoriametrics_remotewrite_username }}'
      - '-remoteWrite.basicAuth.password={{ victorialogs_victoriametrics_remotewrite_password }}'
      - '-remoteWrite.tmpDataPath=/vmagentdata'
    networks:
      - vm_net
    healthcheck:
      test: ["CMD", "wget", "-qO/dev/null", "http://127.0.0.1:8429/vmagent/health"]
      interval: 30s
      timeout: 5s
      retries: 3


  # vmalert for victorialogs: https://docs.victoriametrics.com/victorialogs/vmalert
  vmalert:
    image: victoriametrics/vmalert:{{ victorialogs_vmalert_version }}
    depends_on:
      - "victorialogs"
      # - "alertmanager"
    expose:
      - 8880
    ports:
      - 127.0.0.4:8880:8880
    volumes:
      - type: bind
        source: ./rules
        target: /etc/alerts
        read_only: true
    command:
      - '-http.pathPrefix=/vmalert'
      - '-datasource.url=http://victorialogs:9428/'

      - '-remoteWrite.url={{ victorialogs_victoriametrics_remotewrite_url }}'
      - '-remoteWrite.basicAuth.username={{ victorialogs_victoriametrics_remotewrite_username }}'
      - '-remoteWrite.basicAuth.password={{ victorialogs_victoriametrics_remotewrite_password }}'
      - '-remoteRead.url={{ victorialogs_victoriametrics_remoteread_url }}'
      - '-remoteRead.basicAuth.username={{ victorialogs_victoriametrics_remoteread_username }}'
      - '-remoteRead.basicAuth.password={{ victorialogs_victoriametrics_remoteread_password }}'

      - '-rule.defaultRuleType=vlogs'
      - '-evaluationInterval={{ victorialogs_vmalert_evaluation_interval }}'

      - '-notifier.url={{ victorialogs_alertmanager_url }}'
      - '-notifier.basicAuth.username={{ victorialogs_alertmanager_user }}'
      - '-notifier.basicAuth.password={{ victorialogs_alertmanager_password }}'

      - '-rule=/etc/alerts/*.yml'
      # display source of alerts in grafana
      - '-external.url={{ victorialogs_vmalert_external_url }}'
      - '-external.alert.source={{ victorialogs_vmalert_external_source }}'
{% for label in victorialogs_vmalert_external_labels %}
      - '-external.label={{ label }}'
{% endfor %}
    networks:
      - vm_net
    restart: always
    healthcheck:
      test: ["CMD", "wget", "-qO/dev/null", "http://127.0.0.1:8880/vmalert/health"]
      interval: 30s
      timeout: 5s
      retries: 3


networks:
  vm_net:
  webproxy:
    external: true
    name: webproxy
