## configuration for authentication with oauth2_proxy.

# # workaround with variable for dynamic resolve, not just at startup
# # resolver already configured
# resolver 127.0.0.11 valid=10s; # 127.0.0.11 comes from /etc/resolv.conf on the nginx container
set $oauth2proxy {{ victorialogs_oauth2_proxy_instance_host }} ;

# allow other methods like htpasswd auth configured on webproxy.
satisfy any;

auth_request /oauth2/auth;

error_page 401 = /oauth2/sign_in;
## to login directly, without showing the login button:
# error_page 401 = /oauth2/start?rd=$proxy_x_forwarded_proto://$http_host$request_uri ;
 
location = /oauth2/sign_out {
    auth_request off;
    auth_basic off;

{% if victorialogs_oauth2_proxy_instance_internal_host %}
    proxy_pass       http://$oauth2proxy:4180;
    proxy_set_header Host             $host;
    proxy_set_header X-Real-IP        $remote_addr;
    proxy_set_header X-Scheme         $http_x_forwarded_proto;
{% else %}
    proxy_pass       https://$oauth2proxy:443;
    proxy_set_header Host             {{ victorialogs_oauth2_proxy_instance_host }};
{% endif %}

    proxy_set_header X-Auth-Request-Redirect /;
}

location /oauth2/ {

    # disable auth for the oauth2 location
    auth_request off;
    auth_basic off;

{% if victorialogs_oauth2_proxy_instance_internal_host %}
    proxy_pass       http://$oauth2proxy:4180;
    proxy_set_header Host             $host;
    proxy_set_header X-Real-IP        $remote_addr;
    proxy_set_header X-Scheme         $http_x_forwarded_proto;
{% else %}
    proxy_pass       https://$oauth2proxy:443;
    proxy_set_header Host             {{ victorialogs_oauth2_proxy_instance_host }};
{% endif %}

    proxy_buffering on;
    proxy_buffers 8 16k;
    proxy_buffer_size 16k;
    proxy_busy_buffers_size 16k;

    # proxy_set_header X-Auth-Request-Redirect $request_uri;
    # or, if you are handling multiple domains:
    proxy_set_header X-Auth-Request-Redirect $request_uri;
}
location = /oauth2/auth {
    # disable auth for the oauth2 location
    auth_request off;
    auth_basic off;

{% if victorialogs_oauth2_proxy_instance_internal_host %}
    proxy_pass       http://$oauth2proxy:4180;
    proxy_set_header Host             $host;
    proxy_set_header X-Real-IP        $remote_addr;
    proxy_set_header X-Scheme         $http_x_forwarded_proto;
{% else %}
    proxy_pass       https://$oauth2proxy:443;
    proxy_set_header Host             {{ victorialogs_oauth2_proxy_instance_host }};
{% endif %}

    # nginx auth_request includes headers but not body
    proxy_set_header Content-Length   "";
    proxy_pass_request_body           off;
    proxy_pass_request_headers        on;

    proxy_http_version          1.1;
    proxy_ssl_server_name       on;

    # Cache responses from the auth proxy
    # https://gist.github.com/JoelSpeed/9f4dbf6f79f6498d12ccd6ff0bc096e2
    proxy_cache_valid 202 401 30s;
    proxy_cache_valid any    1s;

    proxy_cache_lock      on;
    proxy_cache           oauth2_cache;
    proxy_cache_methods   GET;
    proxy_cache_key       "$host|$proxy_host|$remote_addr|$cookie_{{ victorialogs_oauth2_proxy_instance_cookie_name }}";

    # buffering required for caching
    proxy_buffering on;

    # buffer size needs to be bigger to keep the cookie in the cache_key
    proxy_buffers 8 16k;
    proxy_buffer_size 16k;
    proxy_busy_buffers_size 16k;

    # Should still cache even with Set-Cookie
    proxy_ignore_headers          Set-Cookie;

    add_header X-Cache-Status $upstream_cache_status always;
}
