---
# defaults file for grafana deployment
grafana_path: '/container/grafana'
grafana_docker_pull: '{{ global_docker_pull | default(False) }}'

grafana_domain: 'grafana.{{ ansible_fqdn }}'

grafana_version: latest
grafana_mariadb_version: latest

grafana_mysql_rootpass:
grafana_mysql_password:
grafana_admin_password:

grafana_instance_name: "{{ grafana_domain }}"
grafana_smtp_enabled: "false"
grafana_smtp_host: localhost:25
grafana_smtp_user:
grafana_smtp_password:
grafana_smtp_from_address:
grafana_smtp_from_name: Grafana

# https://grafana.com/docs/grafana/latest/auth/gitlab/
grafana_auth_gitlab_enabled: 'false'
grafana_auth_gitlab_allow_sign_up: 'true'
grafana_auth_gitlab_client_id: 'GITLAB_APPLICATION_ID'
grafana_auth_gitlab_client_secret: 'GITLAB_SECRET'
grafana_auth_gitlab_scopes: 'read_user'
grafana_auth_gitlab_auth_url: 'https://gitlab.com/oauth/authorize'
grafana_auth_gitlab_token_url: 'https://gitlab.com/oauth/token'
grafana_auth_gitlab_api_url: 'https://gitlab.com/api/v4'
# GF_AUTH_GITLAB_ALLOWED_GROUPS: 'example, foo/bar'

# Install Grafana Plugins
grafana_plugins: []
  # - camptocamp-prometheus-alertmanager-datasource

# Provisioned datasources can (only) be deleted with this list
grafana_datasources_delete:
  - name: prometheus.example.com
    orgId: 1

# Provision Datasources
# https://grafana.com/docs/grafana/latest/administration/provisioning/#data-sources
# See README.md for examples
grafana_datasources: []


grafana_default_dashboards:
  - default/dockerlogs-vector.json
  - default/victoriametrics.json
  - default/victoriametrics-vmagent.json
  - default/victoriametrics-vmalert.json
  - default/netdata.json
  - default/alertmanager.json
  - default/blackbox.json
  - default/nvme.json

grafana_custom_dashboards: []

grafana_dashboards: '{{ grafana_default_dashboards + grafana_custom_dashboards }}'

grafana_remove_dashboards:
  - default/vmagent.json

# use bitnami build: https://hub.docker.com/r/bitnami/grafana-image-renderer
# non-root and automated build of grafana/grafana-image-renderer
grafana_image_renderer_image: bitnami/grafana-image-renderer
grafana_image_renderer_version: latest
grafana_image_renderer_cpu_limit: 0.8
grafana_image_renderer_mem_limit: 200M
grafana_image_renderer_port: 127.0.0.8:18081 # port for metric scraping
