{{ ansible_managed | comment }}

{% if prometheus_alert_rules | length > 0 %}
groups:
- name: ansible managed alert rules
  rules:
  {{ prometheus_alert_rules | teamapps.general.to_nice_yaml(indent=2) | indent(2,False) }}
{% endif %}
