#jinja2: trim_blocks: true, lstrip_blocks: true
{{ ansible_managed | comment }}
# http://prometheus.io/docs/operating/configuration/

global:
  {{ prometheus_global | teamapps.general.to_nice_yaml(indent=2) | indent(2, False) }}
  external_labels:
    {{ prometheus_external_labels | teamapps.general.to_nice_yaml(indent=2) | indent(4, False) }}

rule_files:
  - rules/*.rules.yml
  - rules/*.rules

scrape_configs:
  {{ prometheus_scrape_configs | teamapps.general.to_nice_yaml(indent=2) | indent(2,False) }}

{% if prometheus_alertmanager_config | length > 0 %}
alerting:
  alertmanagers:
  {{ prometheus_alertmanager_config | teamapps.general.to_nice_yaml(indent=2) | indent(2,False) }}
  {% if prometheus_alert_relabel_configs | length > 0 %}
  alert_relabel_configs:
  {{ prometheus_alert_relabel_configs | teamapps.general.to_nice_yaml(indent=2) | indent(2,False) }}
  {% endif %}
{% endif %}
